<p style="color: green"><%= notice %></p>

<div class="container mx-auto px-8">
  <div>
    <h1 class="text-slate-200 text-3xl">
    <% if current_user %>
      Hello, <%= current_user.email %> !
    <% else %>
      Hello!
    <% end %>
    </h1>
  <h2 class="text-slate-200 text-lg">Your learning for today:</h2>
  </div>

  <div id="articles">
    <% @articles.each do |article| %>
        <%= render article %>
    <% end %>
  </div>
  <div class="join">
    <%= will_paginate @articles %>
  </div>
</div>
