<nav class="static shadow bg-indigo-400" data-controller="dropdown">
   <div class="container mx-auto px-4 sm:px-8">
      <div class="flex justify-between h-16">
         <div class="flex">
            <%= link_to root_path do %>
               <div class="inline-block h-8 justify-self-start content-start items-start">
                  <h1 class="text-slate-800 text-2xl">
                  SkillUp
                  </h1>
               </div>
            <% end %>
         </div>
         <div class="flex items-center">
            <button class="btn">
               <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete } %>
            </button>
         </div>
      </div>
   </div>
</nav>